<footer class="global-footer">
	<div class="footer-wrap">
		<a href="/" class="footer-brand" aria-label="xTaskjs home">
			<img src="/logo.svg" alt="xTaskjs logo" class="footer-brand-logo" />
			<p class="footer-brand-copy">{{t "site.footer.builtWith"}}</p>
		</a>
	</div>
</footer>
